/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*================================================================*/

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.flash-message {
   padding: 16px 24px;
   margin: 16px 0;
}

.flash-message.notice {
   color: green;
}

.flash-message.alert {
   color: red;
}

a:link {
   color: #080808;
}

a:visited {
   color: #c0c0c0;
}

a:hover {
   color: #fff;
   background-color: #000;
}

/*-------------------------------------------------------------*/

.top-header {
   margin: 20px 30px 5px 30px;
   font-size: 20px;
   font-weight: bold;
}

.top-body {
   margin-left: 60px;
   font-size: 10px;
}

.top-text {
   line-height: 40px;
}

.top-text span {
   font-weight: bold;
}

.top-start {
   line-height: 50px;
}

/*-----------------------------------------------------------*/

.index-header {
   margin: 15px 25px 0 30px;
   font-size: 20px;
   font-weight: bold;
}

.list-header span {
   margin: 0 100px;
   font-size: 10px;
   font-weight: bold;
}

.list {
   margin-left: 20px;
   border-spacing: 15px 10px;
   font-size: 10px;
}

th {
   font-weight: normal;
}

/*-----------------------------------------------------------------*/

.create-header {
   margin-left: 25px;
   font-size: 15px;
   font-weight: bold;
}

.create {
   margin-left: 25px;
}

.create-title {
   margin-top: 10px;
   font-size: 10px;
}

.create-body {
   margin-top: 5px;
   font-size: 10px;
}

/*--------------------------------------------------------*/

.show p {
   margin: 25px 55px;
   font-size: 10px;
}

.show-link span {
   margin-left: 25px;
   font-size: 10px;
}
